@import'utilities.css';
:root{
    --primary:#fa8072;
    --dark:black;
    --pure:#FFFFFF;
    --ternary:#d9d9d9;
    --light:#F2F2F2;
}
body{
    /*background:var(--ternary);*/
    font-family:'Poppins', sans-serif;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background: var(--dark);
    clip-path:polygon(0 0, 100% 0, 100% 85%, 20% 100%, 0 60%);
   }
.container{
    max-width:1152px;
    padding:0 65px;
    margin:30px auto;
}
@media(min-width:576px){
    .container{
        max-width:550px;
    }
}


@media(min-width:768px){
    .container{
        max-width:720px;
    }
}


@media(min-width:992px){
    .container{
       max-width:960px; 
    }
}

@media(min-width:1200px){
    .container{
        max-width:1152px;
    }
}



 
header nav .left a{
    color: var(--pure);
    font-size:20px;
    font-weight:500;
    text-decoration: none;
    margin-left:3rem;
   /* margin-right:2rem;*/
    transition: all .3s;
}
header nav .left a:hover{
     color: var(--primary);
     transition: all .3s;
}
header nav {
    padding:10px 0;
    margin:2px 5px; 
}
header nav.branding{
    margin-right: 16rem;
}
.lady{
    padding:3rem 0;
}
.lady .left img{
    width:480px;
}
.lady .right h4{
    font-size: 4rem;
    color:var(--primary);
    margin:5rem 0.5rem 0rem;
}
.lady .right h2{
    color:var(--pure);
    font-size:3rem;
    font-weight:80;    
    margin-top:1rem ;
}

.section-head{
    color:var(--dark);
    text-align:center;
    font-size:4rem;
    margin:8rem;
    margin-top:10rem;
    line-height:0.5;
}
.section-head span{
    color:var(--primary);
}
section.services{
    background:var(--ternary);
}
section.services .card-wrapper{    
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-column-gap:3rem;
}
section.services .card-wrapper .card{
    background:var(--pure);
    padding:3rem 2rem;
    position:relative;
    padding-top:6rem;
    text-align:center;
    transition: all .3s;
}

section.services .card-wrapper.card.img{
    position:absolute;
    top:-3.5rem;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card.h2{
    font-weight:400;
    font-size:1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card:hover{
    background:var(--dark);
}
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color:var(--primary);
}
section.work{
    background:var(--pure);
}
section.work .card-wrapper .card img{
    margin-right:2rem;
    margin-bottom:2rem;
}
section.aboutme{
    background:var(--ternary);
    margin-top:30px;
}
section.content{
    color:var(--dark);
    background:var(--primary);
    text-align:center;
    padding:3rem 4rem;
    margin: 4rem 15rem;
    border-radius:4rem;

}
section.content img{
    width:200px;    
}
section.contact .head{
    color:var(--dark);
    text-align:center;
    font-size:3rem;
    font-weight:600;
    margin: 8rem auto;
}
section.contact .head span{
    color:var(--primary);
    text-align:center;
    font-size:3rem;
    font-weight:600;
    margin: 8rem auto;
}
/*section.contact .input[type=text]{
    margin-right:6rem;
    width:85%;          
    border-radius:8px;
    border:5px grey;
    box-shadow:5px 5px 3px 2px rgba(75, 72, 72, 0.521);
    padding:15px}
  .input:hover.input {background-color :var(--primary);*/

/*section.contact .input-wrap .input{
    margin:2rem;
    padding:2rem;
    width: 200;
}*/
section.contact .input-wrap{
    display:flex;
    margin: 2rem 6rem;
    padding:2rem;
    width:200;
}
section.contact input{
    padding:0.75rem;
    width:85%;
    margin-right:4rem;

}
section.contact .right{
    text-align:center;
}
footer{
    background:var(--dark);
    clip-path: polygon(0 20%,20% 50%,100% 10%,100% 100%,0 100%);
    text-align:center;
    padding:5rem 0;
}
footer .footer-logo{
    margin:8rem auto 4rem;
}
footer .footer-socials a{
    margin-right:3rem;
}
.footer-socials i{
    color:var(--primary);
    width:100;
    height:100;
}
.footer-socials i:hover{
    color:var(--pure);
}



@media(max-width:1024px){
    header nav .left a{
        flex-direction:column;
        display:block;
        margin-bottom:1rem;
    }     

    .lady .left img{
        width:300px;
    }
    .lady .right h4{
        font-size:3rem;
    }
    .lady{
        padding-top:10rem;
    }
    header{
        clip-path:polygon(0 0, 100% 0, 100% 85%, 20% 100%, 0 80%);
    }
    section.work .card-wrapper .card img{
        margin-left:115px;
        margin-bottom:50px;
        outline: 50px;
    }    
    
    section.content{
        color:var(--dark);
        background:var(--primary);
        text-align:center;
        padding:2rem;
        margin: 2rem 8rem;
        border-radius:1.5rem;}
    
    }


    @media(max-width:576px){
        .lady{
            flex-direction:column;            
        }
        header{
            
            clip-path:polygon(0 0, 100% 0, 100% 90%, 70% 100%, 0 95%);
        }
        header nav .left a{
            font-size:10px;
            font-weight:100;
            margin: left 0.5em right 1rem;
        }
        .lady.right h4{
            font-size: 2rem;
        }
        .lady.right h2{
            margin-left:20px;
        }
        section.services .card-wrapper{    
            display:flex;
            flex-direction:column;
            margin-bottom:2rem;
        }
        
        section.work .card-wrapper .card img{
            margin-left:2px;
            width:100%;

        }
        section.content{
            text-align:center;
            padding:0.5rem;
            margin: 1rem 8rem;
            border-radius:2rem;
        
        }
        section.content img{
            width:80px;
        }
        /*section.contact input{
            padding:0.75rem;
            width:75%;
            margin-right:2rem;}*/
        
        
        footer .footer-logo{
            margin:5rem auto 2rem;
        }
        footer .footer-socials a{
            margin-right:1rem;
        }
        .footer-socials i{
            color:var(--primary);
            width:75;
            height:75;
        }
        .section-head{
            text-align:center;
            font-size:2rem;
            margin:3rem;
            line-height:0.5;
        }
        section.contact .head{
            text-align:center;
            font-size:1rem;
            font-weight:100;
            margin: 3rem auto;
        }
        section.contact .head span{
            text-align:center;
            font-size:1rem;
            font-weight:100;
            margin: 3rem auto;
        }
        section.contact input{
            padding:0.75rem;
            width:100%;
            margin-right:2rem;
        
        }
        section.contact .input-wrap{
            display:flex;
            margin: auto 1rem;
            padding:0.5rem;
            width:70;
        }
        section.content{
            text-align:center;
            padding:0.5rem;
            margin: 1rem 3rem;
            border-radius:1rem;
        
        }
        
    }




