.flex{
   display:flex;

}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content:space-between;
}
.btn{
    padding:0.8rem 2rem;
    font-size:1rem;
    font-weight: 600;
    border:5px solid transparent;
    border-radius:8px 18px;
    outline: none;
    cursor:pointer;
    transition:all .3s;
}
.btn-primary{
    background-color:var(--primary);
    color: var(--secondary);
}
.btn-primary:hover{
    background:transparent;
    border-color:var(--primary);
    color:var(--primary);
}
.flex-1{
    flex:1;
}
.justify-center{
    justify-content:center;
}
@media(max-width:576px){
    .btn{
        padding:0.5rem;
        font-size:0.75rem;
        font-weight:200;
    }
}